<html>
<head>
    <base href="/">

    <title>
        <?php echo $this->title; ?>
    </title>

    <link rel="stylesheet"
          href="<?php echo $this->getTemplateUrl(); ?>/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <?php
    foreach ($this->style as $style) {
        echo $style . "\n";
    }
    ?>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a href="/" class="navbar-brand"><strong>Home</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users">
                    Users<span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div style="margin-top: 5%;">
    <?php require_once $this->content; ?>
</div>

<script src="<?php echo $this->getTemplateUrl(); ?>/node_modules/jquery/dist/jquery.min.js"></script>
<script src="<?php echo $this->getTemplateUrl(); ?>/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<?php
foreach ($this->script as $script) {
    echo $script . "\n";
}
?>

<script src="<?php echo $this->getTemplateUrl(); ?>/public/build/js/feazy-skeleton.min.js?t=<?php echo time() ?>"></script>

<?php if ($this->scriptFile) {
    require_once $this->scriptFile;
}
?>

</body>
</html>