<form method="post" action="/users/edit">
    <div class="container">
        <div class="row" style="width: 40%;">
            <?php if ($USER_INFO): ?>
            <div class="form-group">
                <label for="id">ID</label>
                <input readonly="true" class="form-control" type="text" id="id" name="id"
                       value="<?php if ($USER_INFO) echo $USER_INFO['id']; ?>">
            </div>
            <?php endif; ?>
            <div class="form-group">
                <label for="first_name">First name</label>
                <input class="form-control" type="text" id="first_name" name="first_name"
                       value="<?php if ($USER_INFO) echo $USER_INFO['first_name']; ?>" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last name</label>
                <input class="form-control" type="text" id="last_name" name="last_name"
                       value="<?php if ($USER_INFO) echo $USER_INFO['last_name']; ?>" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input  class="form-control" type="email" id="email" name="email"
                       value="<?php if ($USER_INFO) echo $USER_INFO['email']; ?>" required>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" name="gender">
                    <option value="Male" <?php if ($USER_INFO) if ($USER_INFO['gender'] == 'Male') echo 'selected'; ?>>
                        Male
                    </option>
                    <option value="Female" <?php if ($USER_INFO) if ($USER_INFO['gender'] == 'Female') echo 'selected'; ?>>
                        Female
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="ip_address">IP Address</label>
                <input class="form-control" type="text" id="ip_address" name="ip_address"
                       value="<?php if ($USER_INFO) echo $USER_INFO['ip_address']; ?>" required>
            </div>
        </div>
        <div class="text-left">
            <?php if (!$USER_INFO): ?>
                <button name="insert" type="submit" class="btn btn-success" value="true">Add</button>
            <?php else: ?>
                <button name="update" type="submit" class="btn btn-warning" value="true">Update</button>
                <button name="delete" type="submit" class="btn btn-danger" value="true">Remove</button>
            <?php endif; ?>
        </div>
    </div>
</form>
<div class="text-left" style="margin-top: 2%;">
    <a href="/users">Back to users</a>
</div>
