<div class="text-left" style="margin-bottom: 2%;">
    <a href="/users/create" class="btn btn-success">Create a new user</a>
</div>
<table id="users" class="display table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>IP Address</th>
        <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>IP Address</th>
        <th></th>
    </tr>
    </tfoot>
</table>


<script type="application/javascript">
    function callData() {
        if (document.readyState === 'complete') {
            // document ready
            const table = $('#users').DataTable({
                processing: true,
                serverSide: true,
                columnDefs: [
                    {name: "id", targets: 0},
                    {name: "first_name", targets: 1},
                    {name: "last_name", targets: 2},
                    {name: "email", targets: 3},
                    {name: "gender", targets: 4},
                    {name: "ip", targets: 5},
                    {name: "detail", targets: 6},
                ],
                ajax: {
                    url: "users/getall",
                    data: function (d) {
                        const custom = {};
                        custom.offset = d.start;
                        custom.limit = d.length;
                        return custom;
                    },
                    dataFilter: function (data) {
                        var json = JSON.parse(data);
                        json.recordsTotal = json.totalAll;
                        json.recordsFiltered = json.totalAll;

                        return JSON.stringify(json);
                    }
                },
                // pageLength: 500,
                ordering: false,
                searching: false,
                lengthMenu: [10, 25, 50, 75, 100]
                // lengthChange: false
            });


            // setInterval(function () {
            //     table.ajax.reload(null, false);
            // }, 5000);
        }
    }

    document.onreadystatechange = callData;
</script>